extends ../portfolio/layout

block body
	if post
		.row
			.col-xs-7
				h1 #{post.title} #[small.secondary-text= date(post.createdAt)]
				h4 By #{post.author}
				p= post.body
				if post.imageFilename
					p: img(src=post.imageThumbnailUrl)
			.col-xs-5
				.panel.panel-default
					.panel-heading
						h3.panel-title Comments
					.panel-body
						if errors
							include errors
					//- 	form(action=`${post.id}/comments`, method='post')
					//- 		.form-group
					//- 			label(for='author') Author
					//- 			input.form-control(name='author', value=comment.author)
					//- 		.form-group
					//- 			label(for='body') Body
					//- 			textarea.form-control(name='body')= comment.body
					//- 		.form-group
					//- 			input.btn.btn-primary.btn-lg(type='submit', value='Create')
					//- ul.list-group
						//- if post.comments
						//- 	each comment in post.comments
						//- 		li.list-group-item
						//- 			h4.list-group-item-heading #{comment.author} #[small= date(comment.createdAt)]
						//- 			p.list-group-item-text= comment.body
	else
		h2 Not Found
		p That blog post does not exist.
